body {
    background: linear-gradient(to top, #09203f 0%, #537895 100%);
    background-attachment: fixed; /* Fixes the background */
    color: #ffffff;
    height: 100vh;
}  

.active{
    border-bottom: 2px dotted rgba(0, 255, 255, 0.9);
}
.nav_container {
    display:inline-flex;
    justify-content: flex-end;
    margin-left: 610px;
}

nav .menu{
    position: absolute;
    display: none;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: #ffffff;
    border-radius: 0.2rem;

}
nav h2 {
    display: inline;
}

nav h2 a {
    text-decoration: none;
    padding: 20px;
    font-size: 1.25rem;
    letter-spacing: 5px;
    color: #ffffff; 
    /* text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.8);  */
    animation: glow 1s ease-in-out infinite alternate; 
}



nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0 10px;
    width: 50%;
}

nav li {
    padding-right: 200px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 10px;
    margin-right: 25px;
}

.nav-item {
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.2),
                0 0 30px rgba(0, 255, 255, 0.2),
                0 0 40px rgba(0, 255, 255, 0.2),
                0 0 50px rgba(0, 255, 255, 0.2);
}
nav ul.open{
    display: flex;

}                                                                                                                                                                                   

.nav-item > a {
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
    font-size: 1.25rem;
}

.nav-item:hover {
    border: 2px solid rgba(14, 72, 222, 0.4);
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.6),
                0 0 30px rgba(0, 255, 255, 0.6),
                0 0 40px rgba(0, 255, 255, 0.6),
                0 0 50px rgba(0, 255, 255, 0.6);
    
    transition: box-shadow 0.3s ease-in-out;
    
}

.nav-item > a:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);


}

@media (max-width:1000px){
    nav .menu {
        display: flex;
    }
    nav {
        flex-direction: column;
        align-items: start;
        left:10px                                   

    }

    nav ul{
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom:0.25rem ;
    }
    nav ul li{
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
    }
    .nav_container
    {
        margin-left: 4rem;
    }
}


.Home {
    position: relative;
}

.Profile_photo {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    position: absolute;
    background: radial-gradient(circle, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8)), center/cover;
    background-blend-mode: overlay;
    left: 65%;
    top: 255px;

    box-shadow: 0 0 20px rgba(0, 255, 255, 0.3),
                0 0 30px rgba(0, 255, 255, 0.3),
                0 0 40px rgba(0, 255, 255, 0.3),
                0 0 50px rgba(0, 255, 255, 0.3); 


    transition: box-shadow 0.3s ease-in-out;
    animation: glow 2s ease-in-out 1s infinite ;

}

.Profile_photo > img {
    object-fit: cover;
    border-radius: 50%;
    height: 500px;
    width: 500px;
}

.Profile_photo:hover {
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.8),
                0 0 30px rgba(0, 255, 255, 0.8),
                0 0 40px rgba(0, 255, 255, 0.8),
                0 0 50px rgba(0, 255, 255, 0.8);
}

.Intro {
    position: absolute;
    top: 300px;
    left: 10%;
    font-size: 3rem;
    color: #ffffff;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.3); /* Slightly lighter text shadow */
}


span {
    padding-left: 10px;
    color: rgba(0, 255, 255, 0.8);  
    /* text-shadow: 10px 5px 8px rgba(0, 255, 255, 0.8)                                                                                                                                                                                                         */
    text-shadow: 10px 5px 8px rgba(0, 0, 0, 0.8)                                                                                                                                                                                                        

}

.info {
    margin-top: 20px;
    font-size: 1.5rem;
    line-height: 1.8;
    color: #ffffff;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.4); 
}
@keyframes glow {
    from {
        text-shadow: 0 0 20px rgb(0, 255,255,0.6) ;
    }
    to {
        text-shadow: 0 0 20px rgba(0, 255, 255, 1) ;
    }
} 

.title{
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    /* margin-top: 4px; */

}
.details_title {
    text-align: center;
    padding-bottom: 20px;
    margin-top: 4px;
    display: flex;
    justify-content: center;
}

.details_title h1{
    border-top-left-radius: 60px;
    border-top-right-radius: 5px ;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 60px;
    border:1px solid  #ffffff;
    padding: 20px;
    width:fit-content;
    font-size: 2.5rem;

    margin: 50px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.1),
    0 0 30px rgba(0, 255, 255, 0.1),
    0 0 40px rgba(0, 255, 255, 0.1),
    0 0 50px rgba(0, 255, 255, 0.1)
}
.subtitle{
    text-align: center;
    display: flex;
    justify-content:left;
    padding-left: 40px;
}


.subtitle >p{
    border-top-left-radius: 60px;
    border-top-right-radius: 10px ;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 60px;

    box-shadow: 0 0 20px rgba(0, 255, 255, 0.1),
                0 0 30px rgba(0, 255, 255, 0.1),
                0 0 40px rgba(0, 255, 255, 0.1),
                0 0 50px rgba(0, 255, 255, 0.1); 
    border: 1px solid #ffffff;
    padding: 20px;
    font-size: 2rem;
    text-shadow: 4px 5px 20px rgba(0, 0, 0, 1);
    

}
.title > p {
    border-top-left-radius: 10px;
    border-top-right-radius: 60px ;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 10px;
    font-size: 2.5rem;
    padding: 5px;
    width: 300px;
    color: #ffffff;



    box-shadow: 0 0 20px rgba(0, 255, 255, 0.3),
                0 0 30px rgba(0, 255, 255, 0.3),
                0 0 40px rgba(0, 255, 255, 0.3),
                0 0 50px rgba(0, 255, 255, 0.3); 

    border: 1px solid white;
    

    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    margin: 10px auto; 
    text-align: center; 
}   

 .card{
    position: relative;
    display: flex;
    flex-direction: column;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3),
                0 0 30px rgba(0, 0, 0, 0.3),
                0 0 40px rgba(0, 0, 0, 0.3),
                0 0 50px rgba(0, 0, 0, 0.3); 
    border-radius: 30px;
    align-items: center;
    margin-bottom: 100px;
    height: 700px;
    width: 500px;
    overflow: hidden;
 }
 .card > img 
 {
    border-radius: 40px;
    object-fit:fill;
    padding: 30px;
    height: 200px;
    width:400px;
 }

 
.card span 
{
    text-align: center; 
    font-size: 1.55rem;
}
.project-details
{
    padding: 20px;
    font-size: 1.5rem;
}
.hoveredDisplay{
     position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); 
    color: #ffffff;
    padding: 20px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;

}
.hoveredDisplay p {
    font-size: 2rem;
    text-align: center;
    padding: 20px;
}
.hoveredDisplay ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    padding: 5px;
    gap: 15px; 
}

.hoveredDisplay li {
    font-size: 1rem;
    list-style: none;
    padding: 10px 20px; 
    border-radius: 10px; 
    background-color: rgba(0, 255, 255, 0.2); 
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.4); 
    transition: transform 0.3s ease-in-out; 
}

.hoveredDisplay li:hover {
    transform: scale(1.1);
    background-color: rgba(0, 255, 255, 0.4); 
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.6); 
}


.card:hover .hoveredDisplay {
    visibility: visible;
    opacity: 1;
}


.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.buttons button {
    background-color: black;
}

.buttons a , .buttons button{
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.buttons a:hover  , .buttons button:hover {
    background-color: rgba(0, 255, 255, 0.4);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.8);
}


.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 10px; 
    padding: 20px; 
    padding-bottom: 50px;
}

.flex {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    justify-content: flex-start; 
    align-items: center; 
    margin: 100px auto; 
    gap: 50px; 
    margin : 100px 300px;   
}
.detailContainer{
    /* text-align: center; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.1),
                0 0 30px rgba(0, 255, 255, 0.1),
                0 0 40px rgba(0, 255, 255, 0.1),
                0 0 50px rgba(0, 255, 255, 0.1);
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding: 20px;


}


.flex-p {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
.flex-p p {

    padding-right: 20px;
}


.videoPlayer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .videoPlayer h2 {
    margin-top: 20px;
  }
  
  video {
    width: 80%;
    height: auto;
    border: 1px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.3),
                0 0 30px rgba(0, 255, 255, 0.3),
                0 0 40px rgba(0, 255, 255, 0.3),
                0 0 50px rgba(0, 255, 255, 0.3);
  }

.skillBox
{
    position: relative;
    border: 1px solid black;
    border-radius: 50%;
    height:200px;
    width: 200px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8)), center/cover;
    background-blend-mode: overlay;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.3),
                0 0 30px rgba(0, 255, 255, 0.3),
                0 0 40px rgba(0, 255, 255, 0.3),
                0 0 50px rgba(0, 255, 255, 0.3); 
    transition: box-shadow 0.3s ease-in-out;

}
footer {
    text-align: center;
}

.skillBox img {
    
    position: absolute;
    height: 100px;
    width:100px;
    left:25%;
    top:25%;
    object-fit: contain;
    overflow: hidden;
    border-radius: 60%;
}

.skillBox:hover{
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.8),
                0 0 30px rgba(0, 255, 255, 0.8),
                0 0 40px rgba(0, 255, 255, 0.8),
                0 0 50px rgba(0, 255, 255, 0.8);
}





.resume-container
{
    margin:100px 100px;
    position: relative;
    left: 25%;
    border: 2px solid black;
    height: 1123px;
    border-radius: 30px;
    width: 794px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.3),
                0 0 30px rgba(0, 255, 255, 0.3),
                0 0 40px rgba(0, 255, 255, 0.3),
                0 0 50px rgba(0, 255, 255, 0.3);
}

strong {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);

}

.pdf-book {
    position: relative;
    width: 100%;
    height: 100%;
}

.pdf-embed {
    border-radius: 30px;
    width: 100%;
    height: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8); /* Optional shadow effect */
}


.download-link {
    position: absolute;
    top:1453px;
    left: 875px;
    border-radius: 20px;
    padding: 20px;
    border: 4px inset white;
    text-decoration: none;
    color: #ffffff;
} 

.download-link1 {
    border-radius: 20px;
    padding: 5px;
    border: 2px inset white;
    margin-left: 80px;
    text-decoration: none;
    color: #ffffff;
}

.first-download-link
{
    position: absolute;
    left: 45%;
    border-radius: 20px;
    padding: 20px;
    border: 4px inset white;
    text-decoration: none;
    color: #ffffff;
}

.download-link:hover  , .first-download-link:hover{
    background-color: rgba(0, 255, 255, 0.4);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.8);
}   
.download-link1:hover{
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.8);

}

.contact-page {
    /* background: linear-gradient(91.9deg, rgb(93, 248, 219) 27.8%, rgb(33, 228, 246) 67%); */
    color: #ffffff;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.contact-container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.3);
    max-width: 600px;
    margin: 20px;
}

.contact-info {
    font-size: 1.2rem;  
    line-height: 2;
}

.contact-info p {
    margin: 10px 0;
}

.contact-info strong {
    color: rgba(0, 255, 255, 0.8);
}

.contact-info a {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.6);
    transition: border-color 0.3s ease-in-out;
}

.contact-info a:hover {
    border-color: rgba(255, 255, 255, 1);
}

.footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}



@media only screen and (max-width:320px)
{
    nav h2 a {
        font-size: 1rem;
        letter-spacing: 2px;
    }

    nav{
        display: flex;
        align-items: center;
    }
    .nav_container{
        display: flex;
        flex-direction:row;
        align-items: center;
        flex-wrap: wrap;
        width: 40%;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }
    nav li {
        border:none;
        margin-right: 1rem;
    }
    .nav-item{
        box-shadow: 0 0 20px rgba(0, 255, 255, 0.1),
                    0 0 30px rgba(0, 255, 255, 0.1),
                    0 0 40px rgba(0, 255, 255, 0.1),
                    0 0 50px rgba(0, 255, 255, 0.1);
        border-radius: 20px;
        padding: 0.01rem;
        border: 1px solid white;
    }
    
    .active{
        border:none;
    }
    
    .nav-item:hover {
        transform: none;
        box-shadow: none;
        transition: none;
        border: 1px solid white;

    }
    .nav-item>a:hover{
        text-shadow: none;
    }
    .Profile_photo
    {
        height: 18rem;
        width: 18rem;
        left:0.5rem;
        top: 2.5rem;        
    }
    .Profile_photo >img{
        height: 18rem;
        width: 18rem;

    }
    .Intro{
        font-size: 1.4rem;
        top: 25rem;
        left: 1rem;
    }
    .span{
        padding-left: 0;
    }
    .info{
        font-size: 1rem;
    }

    .title>p{
        font-size: 1.5rem;
        padding: 5px;
        margin: 20px;
    }
    .subtitle>p{
        font-size: 1rem;
    }

    .card{
        height: 560px;
        width:100%;

    }

    .card > img{
        height: 150px;
        width: 250px;
    }

    .grid {
        grid-template-columns: repeat(1,1fr);
        padding: 5px;
    }

    .project-details{
        font-size: 1rem;
    }

    .hoveredDisplay p{
        padding: 2px;
        font-size: 1.25rem;
    }
    
    .hoveredDisplay li {
        font-size: 0.5rem;
    }

    .flex{
        margin :2rem;
    }
    .skillBox{
        height: 5.75rem;
        width: 5.75rem;
    }
    .skillBox >img {
        height: 3rem;
        width: 3rem;
    }
    .resume-container{
        /* display: none; */
        left:10px;
        top: 50px;
        margin: 10px;
        height: 900px;
        width: 15rem;
    }
   
    .download-link{
        display: none;
    }
    .first-download-link
    {
        position: relative;
        left: 25%;
        top: 20%;
        padding: 10px;
    }

    .details_title h1{
        font-size: 1.5rem;
    }
    .flex-p {
        flex-direction: column;
    }
    .download-link1{
        font-size: 0.58rem;
        padding: 0.5rem;
        margin-left: 10px;
    }

}

@media only  screen  and (min-width:321px) and (max-width:626px){

    nav h2 a {
        font-size: 1rem;
        letter-spacing: 2px;
    }

    
    nav{
        display: flex;
        align-items: center;
    }
    .nav_container{
        display: flex;
        flex-direction:row;
        align-items: center;
        flex-wrap: wrap;
        width: 40%;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }
    nav li {
        border:none;
        margin-right: 1rem;
    }
    .nav-item{
        box-shadow: 0 0 20px rgba(0, 255, 255, 0.1),
                    0 0 30px rgba(0, 255, 255, 0.1),
                    0 0 40px rgba(0, 255, 255, 0.1),
                    0 0 50px rgba(0, 255, 255, 0.1);
        border-radius: 20px;
        padding: 0.01rem;
        border: 1px solid white;
    }
    
    .active{
        border:none;
    }
    
    .nav-item:hover {
        transform: none;
        box-shadow: none;
        transition: none;
        border: 1px solid white;

    }
    .nav-item>a:hover{
        text-shadow: none;
    }
    .Profile_photo{
        left: 10%;
        top:5rem;
        height: 18rem;
        width: 18rem;
    }
    .Profile_photo > img {

        height: 18rem;
        width: 18rem;
    }
    .Intro{
        font-size: 2rem;
        left: 3%;
        top: 360px;
    }
    span{
        font-size: 80%;
    }
    .info{
       
        font-size: 70%;
    }
    .nav_container{
        left:10px;
    }
    .title>p{
        font-size: 1.75rem;
        margin: 30px;
    }
    .subtitle>p
    {
        font-size: 1rem;
    }
    .card{
        height:580px;
        width:100%;
    }
    .grid{
        grid-template-columns: repeat(1,1fr);
        padding: 5px;
    }

    .project-details
    {
        font-size: 1.1rem;
    }
   
    .hoveredDisplay p{
        padding: 1px;
        font-size: 1.5rem;
    }
    .hoveredDisplay li {
        font-size: 0.5rem;
    }
    .flex{
        margin: 2rem;
    }
    .skillBox{
        height: 5.75rem;
        width: 5.75rem;
    }
    .skillBox >img {
        height: 3rem;
        width: 3rem;
    }
    .resume-container{
        /* display: none; */
        left:5px;
        top: 50px;
        margin: 10px;
        height: 900px;
        width: 20rem;
    }
   
    .download-link{
        display: none;
    }
    .first-download-link
    {
        position: relative;
        left: 40%;
        top: 20%;
        padding: 10px;
    }


    .details_title h1{
        font-size: 1.5rem;
    }
    .flex-p {
        flex-direction: column;
    }
    .download-link1{
        font-size: 1rem;
        padding: 0.5rem;
        margin-left: 10px;
    }
}

@media (min-width:627px) and (max-width:780px){

    .Profile_photo{
        left: 55%;
        top:5rem;
        height: 18rem;
        width: 18rem;
    }
    .Profile_photo > img {

        height: 18rem;
        width: 18rem;
    }
    .Intro{
        font-size: 2rem;
        left: 3%;
        top: 300px;
    }
    span{
        font-size: 80%;
    }
    .info{
       
        font-size: 70%;
    }


    nav{
        display: flex;
        align-items: center;
    }
    .nav_container{
        display: flex;
        flex-direction:row;
        align-items: center;
        flex-wrap: wrap;
        width: 40%;
    }

    nav ul {
        flex-direction: row;
    }
    nav li {
        border:none;
        margin-right: 1rem;
    }
    .nav-item{
        box-shadow: 0 0 20px rgba(0, 255, 255, 0.1),
                    0 0 30px rgba(0, 255, 255, 0.1),
                    0 0 40px rgba(0, 255, 255, 0.1),
                    0 0 50px rgba(0, 255, 255, 0.1);
        border-radius: 20px;
        padding: 0.01rem;
        border: 1px solid white;
    }
    
    .active{
        border:none;
    }
    
    .nav-item:hover {
        transform: none;
        box-shadow: none;
        transition: none;
        border: 1px solid white;

    }
    .nav-item>a:hover{
        text-shadow: none;
    }


    .title>p{
        font-size: 1.75rem;
        margin: 30px;
    }
    .subtitle>p
    {
        font-size: 1rem;
    }
    .card{
        height:590px;
        width:100%;
    }
    .grid{
        grid-template-columns: repeat(2,1fr);
        padding: 5px;
    }

    .project-details
    {
        font-size: 1.1rem;
    }
    .hoveredDisplay p{
        padding: 1px;
        font-size: 1.25rem;
    }
    .hoveredDisplay li {
        font-size: 0.5rem;
    }
    .flex{
        margin: 2rem;
    }
    .skillBox{
        height: 5.75rem;
        width: 5.75rem;
    }
    .skillBox >img {
        height: 3rem;
        width: 3rem;
    }
    .resume-container{
        /* display: none; */
        left:23%;
        top: 50px;
        margin: 10px;
        height: 900px;
        width: 25rem;
    }
   
    .download-link{
        display: none;
    }
    .first-download-link
    {
        position: relative;
        left: 40%;
        top: 20%;
        padding: 10px;
    }

    .details_title h1{
        font-size: 1.5rem;
    }
    .flex-p {
        flex-direction: column;
    }
    .download-link1{
        font-size: 1rem;
        padding: 1rem;
        margin-left: 150px;
    }

}

@media (min-width:781px) and (max-width:900px)
{
    
     
    nav li {
        padding: 2px;
        margin-right: 10px;
    }
    
    nav{
        display: flex;
        align-items: center;
    }
    .nav_container{
        display: flex;
        flex-direction:row;
        align-items: center;
        flex-wrap: wrap;
        width: 40%;
    }

    nav ul {
        flex-direction: row;
    }
    nav li {
        border:none;
        margin-right: 1rem;
    }
    .nav-item{
        box-shadow: 0 0 20px rgba(0, 255, 255, 0.1),
                    0 0 30px rgba(0, 255, 255, 0.1),
                    0 0 40px rgba(0, 255, 255, 0.1),
                    0 0 50px rgba(0, 255, 255, 0.1);
        border-radius: 20px;
        padding: 0.01rem;
        border: 1px solid white;
    }
    
    .active{
        border:none;
    }
    
    .nav-item:hover {
        transform: none;
        box-shadow: none;
        transition: none;
        border: 1px solid white;

    }
    .nav-item>a:hover{
        text-shadow: none;
    }

    .Profile_photo{
        height:20rem;
        width: 20rem;
        left:60%;
        top: 10rem;
    }
    .Profile_photo>img {
        height:20rem;
        width: 20rem;   
    }

    .Intro{
        font-size: 1.5rem;
        left:5%;
    }
    .info{
        font-size: 1.25rem;
    }

    .title>p {
        margin-top: 50px;
        font-size: 1.75rem;
    }
    .subtitle>p{
        font-size: 1.25rem;
    }

    .card{
        width: 100%;
    }
    .grid {
        grid-template-columns: repeat(2,1fr);
        gap: 20px;

    }

    .flex {
        margin : 10px 10px;   
        margin-left: 100px;

    }
    .skillBox{
        width:10rem;
        height: 10rem;
    }

    .skillBox > img {
        width:5rem;
        height:5rem;
    }

    .resume-container{
        /* display: none; */
        left:19%;
        top: 50px;
        margin: 10px;
        height: 900px;
        width: 35rem;
    }
   
    .download-link{
        display: none;
    }
    .first-download-link
    {
        position: relative;
        left: 45%;
        top: 25px;
        padding: 10px;
    }


    .details_title h1{
        font-size: 1.5rem;
    }
   
    .download-link1{
        font-size: 1rem;
        padding: 1rem;
        margin-left: 150px;
    }


}

@media (min-width:901px) and (max-width:1000px)
{

    nav li {
        padding: 2px;
        margin-right: 10px;
    }
    
    nav{
        display: flex;
        align-items: center;
    }
    .nav_container{
        display: flex;
        flex-direction:row;
        align-items: center;
        flex-wrap: wrap;
        width: 40%;
    }

    nav ul {
        flex-direction: row;
    }
    nav li {
        border:none;
        margin-right: 1rem;
    }
    .nav-item{
        box-shadow: 0 0 20px rgba(0, 255, 255, 0.1),
                    0 0 30px rgba(0, 255, 255, 0.1),
                    0 0 40px rgba(0, 255, 255, 0.1),
                    0 0 50px rgba(0, 255, 255, 0.1);
        border-radius: 20px;
        padding: 0.01rem;
        border: 1px solid white;
    }
    
    .active{
        border:none;
    }
    
    .nav-item:hover {
        transform: none;
        box-shadow: none;
        transition: none;
        border: 1px solid white;

    }
    .nav-item>a:hover{
        text-shadow: none;
    }

    .Profile_photo{
        height:20rem;
        width: 20rem;
        left:60%;
        top: 10rem;
    }
    .Profile_photo>img {
        height:20rem;
        width: 20rem;   
    }

    .Intro{
        font-size: 1.5rem;
        left:5%;
    }
    .info{
        font-size: 1.25rem;
    }

    .title>p {
        margin-top: 50px;
        font-size: 1.75rem;
    }
    .subtitle>p{
        font-size: 1.25rem;
    }

    .card{
        width: 100%;
    }
    .grid {
        grid-template-columns: repeat(2,1fr);
        gap: 20px;

    }

    .flex {
        margin : 10px 10px;   
        margin-left: 100px;

    }
    .skillBox{
        width:10rem;
        height: 10rem;
    }

    .skillBox > img {
        width:5rem;
        height:5rem;
    }

    .resume-container{
        /* display: none; */
        left:19%;
        top: 50px;
        margin: 10px;
        height: 900px;
        width: 35rem;
    }
   
    .download-link{
        display: none;
    }
    .first-download-link
    {
        position: relative;
        left: 45%;
        top: 25px;
        padding: 10px;
    }

}

@media (min-width:1001px) and (max-width:1100px)
{
    .nav_container{
        margin-left: 320px;
    }
    nav ul{
        width:10px
    }
    nav li {
        padding: 3px;
        margin-right: 5px;
    }
    .Profile_photo{
        height:25rem;
        width: 25rem;
        left:60%;
        top: 10rem;
    }
    .Profile_photo>img {
        height:25rem;
        width: 25rem;   
    }
    .Intro{
        left:10px;
        top:229px;
        font-size:2rem;
    }
    .info {
        font-size: 1.25rem;
    }

    .title>p {
        margin-top: 50px;
        font-size: 1.75rem;
    }
    .subtitle>p{
        font-size: 1.25rem;
    }

    .card{
        width: 100%;
    }
    .grid {
        grid-template-columns: repeat(2,1fr);
        gap: 20px;

    }

    .flex {
        margin : 10px 10px;   
        margin-left: 100px;

    }
    .skillBox{
        width:10rem;
        height: 10rem;
    }

    .skillBox > img {
        width:5rem;
        height:5rem;
    }

    .resume-container{
        /* display: none; */
        left:25%;
        top: 50px;
        margin: 10px;
        height: 900px;
        width: 35rem;
    }
   
    .download-link{
        display: none;
    }
    .first-download-link
    {
        position: relative;
        left: 45%;
        top: 25px;
        padding: 10px;
    }


}
@media (min-width:1101px) and (max-width:1200px)
{
    .nav_container{
        margin-left: 400px;
    }
    nav ul {
        width:10px
    }


    nav li {
        padding: 5px;
        margin-right: 10px;
    }
    .Profile_photo{
        height:25rem;
        width: 25rem;
        left:60%;
        top: 10rem;
    }
    .Profile_photo>img {
        height:25rem;
        width: 25rem;   
    }
    .Intro{
        left:50px;
        top:229px;
        font-size:2rem;
    }
    .info {
        font-size: 1.25rem;
    }

    .title>p {
        margin-top: 50px;
        font-size: 1.75rem;
    }
    .subtitle>p{
        font-size: 1.25rem;
    }

    .card{
        width: 100%;
    }
    .grid {
        grid-template-columns: repeat(3,1fr);
        gap: 20px;

    }

    .flex {
        margin : 10px 10px;   
        margin-left: 100px;

    }
    .skillBox{
        width:10rem;
        height: 10rem;
    }

    .skillBox > img {
        width:5rem;
        height:5rem;
    }

    .resume-container{
        /* display: none; */
        left:30%;
        top: 50px;
        margin: 10px;
        height: 900px;
        width: 35rem;
    }
   
    .download-link{
        display: none;
    }
    .first-download-link
    {
        position: relative;
        left: 45%;
        top: 25px;
        padding: 10px;
    }

}
@media (min-width:1201px) and (max-width:1400px)
{
    .nav_container{
        margin-left: 450px;
    }

    nav ul {
        width:10px;
    }
    nav li {
        padding: 5px;
        margin-right: 10px;
    }

    .Profile_photo{
        height:25rem;
        width: 25rem;
        left:60%;
        top: 10rem;
    }
    .Profile_photo>img {
        height:25rem;
        width: 25rem;   
    }
    .Intro{
        left:100px;
        top:200px;
        font-size:2rem;
    }
    .info {
        font-size: 1.25rem;
    }

    .title>p {
        margin-top: 50px;
        font-size: 1.75rem;
    }
    .subtitle>p{
        font-size: 1.25rem;
    }

    .card{
        width: 100%;
    }
    .grid {
        grid-template-columns: repeat(3,1fr);
        gap: 20px;

    }

    .flex {
        margin : 10px 10px;   
        margin-left: 100px;

    }
    .skillBox{
        width:10rem;
        height: 10rem;
    }

    .skillBox > img {
        width:5rem;
        height:5rem;
    }

    .resume-container{
        /* display: none; */
        left:30%;
        top: 50px;
        margin: 10px;
        height: 900px;
        width: 35rem;
    }
   
    .download-link{
        display: none;
    }
    .first-download-link
    {
        position: relative;
        left: 45%;
        top: 25px;
        padding: 10px;
    }


}
@media (min-width:1401px) and (max-width:1500px)
{
    .nav_container{
        margin-left: 100px;
    }


    .Profile_photo{
        height:25rem;
        width: 25rem;
        left:70%;
        top: 10rem;
    }
    .Profile_photo>img {
        height:25rem;
        width: 25rem;   
    }
    .Intro{
        left:200px;
        top:229px;
        font-size:2.5rem;
    }
    .info {
        font-size: 1.5rem;
    }

    .title>p {
        margin-top: 50px;
        font-size: 1.75rem;
    }
    .subtitle>p{
        font-size: 1.25rem;
    }

    .card{
        width: 100%;
    }
    .grid {
        grid-template-columns: repeat(3,1fr);
        gap: 20px;

    }

    .flex {
        margin : 10px 10px;   
        margin-left: 100px;

    }
    .skillBox{
        width:10rem;
        height: 10rem;
    }

    .skillBox > img {
        width:5rem;
        height:5rem;
    }

    .resume-container{
        /* display: none; */
        left:30%;
        top: 50px;
        margin: 10px;
        height: 900px;
        width: 35rem;
    }
   
    .download-link{
        display: none;
    }
    .first-download-link
    {
        position: relative;
        left: 45%;
        top: 25px;
        padding: 10px;
    }

}

@media (min-width:1500px) and (max-width:1650px)
{
    .nav_container{
        margin-left: 250px;
    }
    .resume-container
    {
        left:20%;
    }

    .download-link{
        left:700px;
    }
}